{% extends 'base.html' %}

{% block title %}Office Jukebox{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/javascript/search.js"></script>
    <script type="text/javascript" src="/static/javascript/guest_only.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
    <h1>You're now participating in this jukebox!</h1>
    <br>
    </div><!--row-->
    <div class="row">
        <div class ="ten columns offset-by-one">
            <div id="search-toggle" class="search">
                <h5><i class="fa fa-search-plus"></i> Click here to add a new song!</h5>
            </div>
            <div id="search-form" style="display:none;" class="search">
                <form action="/songs" method="get">
                    <label>
                        I want to listen to:
                        <input type="text" name="search-term" id="search-term">
                    </label>
                    <input type="submit" value="Search!">
                </form>
                <div id="search-flash" style="display:none;"></div>
            </div>
            <div id="search-results" class="search" style="display:none;"><!--Search results populated here--></div>
        </div>
    </div><!--row-->
    <div class="row">
      <br>
      <br>
        <div class ="ten columns offset-by-one">
          <h5>Playlist</h5>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Song Name</th>
                  <th>Artist</th>
                  <th>Album</th>
                  <th>Votes</th>
                </tr>
              </thead>
              <tbody>
                <!--Jinja For Loop-->
                <tr>
                  <td>{{ title }}</td>
                  <td>{{ artist }}</td>
                  <td>{{ album }}</td>
                  <td>{{ votes }}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div> <!--row-->

{% endblock %}
